[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
requests = "*"
gunicorn = "*"
"psycopg2-binary" = "*"
pyyaml = "*"
uritemplate = "*"
django-crispy-forms = "*"

[dev-packages]
coverage = "*"
codacy-coverage = "*"
whitenoise = "*"
"flake8" = "*"
selenium = "*"
bpython = "*"

[requires]
python_version = "3.7"
