[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
requests = "*"
"psycopg2-binary" = "*"

[dev-packages]
coverage = "*"
python-language-server = {version = "*", extras = ["all"]}
codacy-coverage = "*"
gunicorn = "*"
whitenoise = "*"

[requires]
python_version = "3.7"
