{% extends 'home/base.html' %}

{% block content %}
  <div class="container-fluid text-center px-3 mt-5" style="max-width: 820px;">
    <div class="row">
      <div class="col">
        <h1 class="display-4">Against All Odds</h1>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col">
        <p class="lead">test your betting strategy with</p>
      </div>
    </div>
    <div class="row mt-2 justify-content-center">
      <div class="col-sm-3 mt-1 mb-2" style="max-width: 290px;">
        <a class="btn btn-outline-dark btn-block disabled" id="python">python</a>
      </div>
      <div class="col-sm-3 mt-1 mb-2" style="max-width: 290px;">
        <a class="btn btn-outline-dark btn-block disabled" id="dashboard">dashboard</a>
      </div>
      <div class="col-sm-3 mt-1 mb-2" style="max-width: 290px;">
        <a class="btn btn-outline-dark btn-block" id="api" href="http://s1m0n38.github.io/aao-site-docs/">API</a>
      </div>
    </div>
  </div>
{% endblock %}
