{% extends 'home/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="container-fliud text-center px-3 mt-5">
    <div class="row justify-content-center">
      <div class="col" style="max-width: 550px;">
        <form method="post">
          {% crispy form %}
        </form>
        {% if form.errors %}
          <div class="alert alert-danger mt-4" role="alert"> 
            <p>Incorrect username and password.</p>
          </div>
        {% endif %}
        <div class="mt-4">
          <p class="text-muted">
            otherwise <a href="#">reset password</a>
            or <a href="{% url 'signup' %}">create new account</a>
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
